@model CWE.Models.Scheduler

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Scheduler</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Scheduler_UserID" />
            <div class="form-group">
                <label asp-for="Scheduler_Pair" class="control-label"></label>
                <input asp-for="Scheduler_Pair" class="form-control" />
                <span asp-validation-for="Scheduler_Pair" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheduler_RequestRate" class="control-label"></label>
                <input asp-for="Scheduler_RequestRate" class="form-control" />
                <span asp-validation-for="Scheduler_RequestRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheduler_TargetRate" class="control-label"></label>
                <input asp-for="Scheduler_TargetRate" class="form-control" />
                <span asp-validation-for="Scheduler_TargetRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheduler_ActualRate" class="control-label"></label>
                <input asp-for="Scheduler_ActualRate" class="form-control" />
                <span asp-validation-for="Scheduler_ActualRate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

