@{
    ViewData["Title"] = "Help";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


This website is designed for a user to input a Currency Rate Pair as well as a Currency Target Rate.

<br />
An email notification will be sent upon arrival at your requested Target Rate.


<br />
<br />
Thank you for using our services and if you have any questions please email us at: CEA.Notification@gmail.com